{% extends 'base.html' %}
{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center" style="color: greenyellow">Django App</h1>
        <h1 style="font-size: 20px; font-family: Arial, Helvetica, sans-serif;" class="text-center">Bienvenidos a mi aplicacion</h1>
    <div class="text-center">
        <a class="btn btn-secondary" href="/signin/">
            Signin
        </a>
        <a class="btn btn-dark" href="/signup/">
            Singnup
        </a>
    </div>
    </section>
</main>
{% endblock %}

